//- views/index.jade
extends layout

block content
  .container
    .header
      h1= title
      .timestamp Welcome, it's #{time}
    .image-container
      img(src="/images/nyan.gif", title="nyan cat")
      .hexagon-overlay
      .scanning-line